<h2>Found a bird? Leave a record here for later:</h2>

<%= form_for(@bird) do |f| %>
  <%= f.label :species %>
  <%= f.text_field :species %>
    <br>
    <br>
  <%=  f.label :visual_description%>
  <%=  f.text_area :visual_description %>
    <br>
    <br>
  <%= f.label :call_description %>
  <%= f.text_area :call_description %>
  <br>
  <br>
  <%=  f.label :quantity %>
  <%=  f.text_field :quantity %>
    <br>
    <br>
<h3>Where and When was this sighting?</h3>
  <%= f.fields_for :sightings do |s| %>
    <%= s.label(:location) %>
    <%= s.text_field :location %>
    <br>
    <br>
    <%= s.label(:date_spotted) %>
    <%= s.text_field :date_spotted %>
    <br>
    <br>
  <% end %>
<%= f.submit %>
<% end %>