<h3>Before you're ready to start recording your bird sightings, please complete your account profile:</h3>
   
<%=  form_for(@user, url: '/complete') do |f|%>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <br>
  <br>  
  <%= f.label :location %>
  <%= f.text_field :location %>
  <br>
  <br>
<%= f.submit "complete profile" %>
  <% end %>
